<div class="w-full">
    <a href="{% url 'rooms:detail' room.pk %}">
        <div class="w-full h-72 bg-cover bg-center rounded-2xl" style="background-image:url({{room.first_photo}});"></div>
        <div class="mt-2 flex justify-between items-center">
            {% comment %} truncatechars는 ...으로 잘리는 부분이 보여짐 {% endcomment %}
            <div>
                <span class="font-semibold text-gray-900 text-xs">{{room.name|slice:8}},</span>
                <span class="font-semibold text-gray-900 text-xs">{{room.city}}</span>
            </div>
            <div>
                <i class="fas fa-star fa-xs text-gray-900 text-[10px]"></i>
                <span class="text-[10px] font-normal text-gray-900">
                {% if room.total_rating == 0 %}
                    New
                {% else %}
                    {{room.total_rating}}
                {% endif %}</span>
            </div>
        </div>
        <div class="-mt-1">
            <span class="text-gray-500 font-medium text-sm">{% if room.host.superhost %}Professional Host{% else %}Individual Host{% endif %}</span>
        </div>
        <div>
            <i class="fa-solid fa-euro-sign text-xs text-gray-900"></i>
            <span class="text-gray-700 font-semibold text-sm">{{room.price}}</span>
            <span class="text-sm text-gray-700">night</span>
        </div>
    </a>
</div>