{% extends 'base.html' %}

{% block title %}{{room.name}}{% endblock title %}

{% block content %}

<div class="container mx-auto">
    <div class="-mt-4 h-[50vh] w-full flex">
        <div class="bg-center bg-cover w-1/2 h-full rounded-lg mr-3" style="background-image:url({{room.first_photo}})"></div>
        <div class="grid grid-cols-2 gap-3 w-1/2 h-auto">
            {% for photo in room.get_next_four_photos %}
                <div class="bg-center bg-cover rounded-lg" style="background-image:url({{photo.file.url}})"></div>
            {% endfor %}
        </div>
    </div>

    <div class="w-full flex mt-10">
        <div class="w-2/3">
            <div class="w-full flex justify-between border-b pb-12 border-gray-300">
                <div class="flex flex-col justify-center space-y-2">
                    <span class="text-xl font-semibold text-gray-800">{{room.name}}</span>
                    <span class="text-sm font-semibold text-gray-500">{{room.city}}</span>
                    <div class="space-x-2">
                        <span class="text-base font-medium text-gray-700">{{room.guests}} guest{{room.guests|pluralize}}</span>
                        <span class="text-base font-medium text-gray-700">{{room.bedrooms}} bedroom{{room.bedrooms|pluralize}}</span>
                        <span class="text-base font-medium text-gray-700">{{room.beds}} bed{{room.beds|pluralize}}</span>
                        <span class="text-base font-medium text-gray-700">{{room.baths}} bath{{room.baths|pluralize}}</span>
                    </div>
                </div>
                <a href="{{room.host.get_absolute_url}}">
                    {% include 'partials/user_avatar.html' with user=room.host %}
                </a>
            </div>

            <div class="py-12 w-full border-b border-gray-300">
                <p class="text-sm font-medium text-gray-800">{{room.description}}</p>
            </div>

            <div class="py-12 w-full border-b border-gray-300 flex flex-col">
                <span class="text-gray-800 font-semibold text-lg mb-4">Where you'll sleep</span>
                <div class="w-1/4 border border-gray-300 rounded-lg p-8 flex flex-col space-y-2">
                    <i class="fa-solid fa-2xl fa-bed mb-3"></i>
                    <span class="text-gray-800 font-semibold text-lg">Bedroom</span>
                    <span class="text-sm text-gray-800 font-medium">{{room.bedrooms}} bedroom{{room.bedrooms|pluralize}}</span>
                </div>
            </div>

            <div class="w-full">
                {% if room.amenities.count >= 1 %}
                    <div class="py-12 w-full flex flex-col">
                        <span class="text-lg mb-4 font-semibold text-gray-800">Amenities</span>
                        <div class="grid grid-cols-2 gap-x-10 gap-y-3">
                            {% for a in room.amenities.all %}
                                <span class="text-sm font-medium text-gray-700">{{a}}</span>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

                {% if room.facilities.count >= 1 %}
                    <div class="py-12 w-full flex flex-col">
                        <span class="text-lg mb-4 font-semibold text-gray-800">Facilities</span>
                        <div class="grid grid-cols-2 gap-x-10 gap-y-3">
                            {% for a in room.facilities.all %}
                                <span class="text-sm font-medium text-gray-700">{{a}}</span>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

                {% if room.house_rules.count >= 1 %}
                    <div class="py-12 w-full flex flex-col">
                        <span class="text-lg mb-4 font-semibold text-gray-800">House rules</span>
                        <div class="grid grid-cols-2 gap-x-10 gap-y-3">
                            {% for a in room.house_rules.all %}
                                <span class="text-sm font-medium text-gray-700">{{a}}</span>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="w-1/3">
            {% if user == room.host %}
                <div class="w-full h-auto flex items-center justify-center">
                    <a href="{% url 'rooms:edit' pk=room.pk %}">
                        <div class="rounded-lg p-3 bg-gray-800 text-white text-sm font-semibold">
                            Edit room
                        </div>
                    </a>
                </div>
            {% else %}
                {% if not request.session.is_hosting %}
                    <div class="w-full h-auto flex flex-col space-y-10">
                        {% for c in room.get_two_calendars %}
                            <div class="flex flex-col w-full items-center border border-gray-200 py-5 ml-3 rounded-lg">
                                <span class="mb-10 font-semibold text-sm text-gray-800">{{c.get_month}} / {{c.year}}</span>
                                <div class="grid grid-cols-7 gap-5 text-center">
                                    {% for day in c.day_names %}
                                        <span class="text-sm font-medium text-gray-700">{{day}}</span>
                                    {% endfor %}

                                    {% for date in c.get_days %}
                                        {% if date.day != 0 %}
                                            {% if date.past %}
                                                <span class="bg-gray-100 p-1 text-gray-400 rounded-md">{{date.day}}</span>
                                            {% else %}
                                                <span class="bg-gray-500 p-1 text-white rounded-md cursor-pointer hover:bg-red-500 hover:transition-colors">{{date.day}}</span>
                                            {% endif %}
                                        {% else %}
                                            <span></span>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>

    <div class="w-full">
        <div class="py-12 w-full border-t border-gray-300 flex flex-col">
            {% if room.reviews.count >= 1 %}
                <div class="flex items-center space-x-2">
                    <i class="fas fa-star fa-xl text-gray-900"></i>
                    <span class="text-lg font-semibold text-gray-800">{{room.total_rating}}</span>
                    <span class="text-lg">·</span>
                    <span class="text-lg font-semibold text-gray-800">{{room.reviews.count}} review{{room.reviews.count|pluralize}}</span>
                </div>
                <div class="w-full grid grid-cols-2 gap-x-48 gap-y-12 mt-5">
                    {% for review in room.reviews.all %}
                    <div>
                        <div class="flex items-center mb-2 space-x-3">
                            <div>{% include 'partials/user_avatar.html' with user=review.user w_and_h='w-12 h-12' text='text-xs' %}</div>
                            <div class="flex flex-col space-y-1">
                                <span class="text-base font-semibold text-gray-900">{{review.user.first_name}}</span>
                                <span class="text-gray-800">{{review.created|date:'F Y'}}</span>
                            </div>
                        </div>
                        <p class="text-sm text-gray-800">{{review.review}}</p>
                    </div>
                    {% endfor %}
                </div>
            {% else %}
                <span class="text-lg mb-4 font-semibold text-gray-800">No reviews (yet)</span>
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}