{% extends 'base.html' %}

{% block title %}Edit photos{% endblock title %}

{% block search-bar %}{% endblock search-bar %}

{% block content %}
<div class="xl:max-w-3xl container mx-auto mt-40 ">
    <div class="-mt-14 mb-3">
        <a href="{% url 'rooms:edit' pk=room.pk %}">
            <span class="text-sm font-medium text-red-500">&larr; Back to edit room</span>
        </a>
    </div>
    <div class="flex flex-col border border-gray-300 rounded-lg">
        {% for photo in room.photos.all %}
            <div class="flex justify-between p-2 border-b border-gray-300 last:border-none">
                <div class="flex w-2/3">
                    <img src="{{photo.file.url}}" class="w-36 h-36 rounded-lg mr-2" />
                    <span class="text-sm font-semibold">{{photo.caption}}</span>
                </div>
                <div class="flex w-1/3 flex-col space-y-2 justify-center items-end">
                    <a href="{% url 'rooms:edit-photo' room_pk=room.pk photo_pk=photo.pk %}" 
                        class="w-2/3 rounded-lg p-2 text-center bg-gray-800 text-white text-sm font-medium">
                        Edit caption
                    </a>
                    <a class="w-2/3 rounded-lg p-2 text-center bg-red-500 text-white text-sm font-medium" 
                        href="{% url 'rooms:delete-photo' room_pk=room.pk photo_pk=photo.pk %}">Delete
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}