{% extends 'base.html' %} 

{% block title %}
Home
{% endblock title %}

{% block content %}

<div class="container mx-auto">
    <div class="bg-gray-800 container h-[50vh] mt-40 rounded-2xl mb-24 bg-center bg-cover" 
        style="background-image: url(https://a0.muscache.com/im/pictures/177ed8a7-557b-480f-8319-4f8330e2c692.jpg?)"></div>

    {% for room in rooms.object_list %}
    <h3>
    <a href="{% url 'rooms:detail' room.pk %}">{{room.name}} / ${{room.price}}</a>
    </h3>
    {% endfor %}

    <h3>
        {% if rooms.has_previous %}
        <a href="?page={{rooms.number|add:-1}}">&larr;</a>
        {% endif %}
        
        Page: {{rooms.number}} of {{rooms.paginator.num_pages}}
        
        {% if rooms.has_next %}
        <a href="?page={{rooms.number|add:1}}">&rarr;</a>
        {% endif %}
    </h3>
</div>

{% endblock content %}
