{% extends 'base.html' %} 

{% block title %}
Home
{% endblock title %}

{% block content %}

{% for room in rooms.object_list %}
<h3>
   <a href="{% url 'rooms:detail' room.pk %}">{{room.name}} / ${{room.price}}</a>
</h3>
{% endfor %}


<h3>
    {% if rooms.has_previous %}
    <a href="?page={{rooms.number|add:-1}}">&larr;</a>
    {% endif %}
    
    Page: {{rooms.number}} of {{rooms.paginator.num_pages}}
    
    {% if rooms.has_next %}
    <a href="?page={{rooms.number|add:1}}">&rarr;</a>
    {% endif %}
</h3>

{% endblock content %}
