{% extends 'base.html' %}

{% block title %}Upload photo{% endblock title %}

{% block search-bar %}{% endblock search-bar %}

{% block content %}
<div class="xl:max-w-xl container mx-auto mt-40 flex items-center justify-center flex-col border border-gray-300 p-10 rounded-lg">
    <form method="POST" class="w-full flex flex-col items-center justify-center space-y-5" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="w-full">
            <div class="w-2/3 flex items-center px-2 py-3 text-xs flex-wrap rounded-lg bg-green-400 h-14 -mt-12 text-white">
                Image are selected if you choice that you want upload.
            </div>
        </div>

        <div class="w-full flex items-center justify-center">
            <label for="upload_photo" class="cursor-pointer border-2 border-red-400 hover:border-red-200 transition-colors rounded-lg">
                <div class="w-full p-10">Click upload photo</div>
                <input type="file" id="upload_photo" hidden accept="photo/*" name="upload_photo" />
            </label>
            {% include 'partials/input_error.html' with field=form.upload_photo %}
        </div>

        <div class="flex w-full flex-col space-y-2">
            <label for="caption" class="font-semibold">Caption</label>
            <input id="caption" class="basic_input {% if form.caption.errors %}has_error{% endif %}" placeholder="First Name" name="caption" />
            {% include 'partials/input_error.html' with field=form.caption %}
        </div>

        <button class="basic_button text-gray-800 border border-gray-800">Upload</button>
    </form>
</div>
{% endblock content %}