@tailwind base;
@tailwind components;

.nav_link {
    @apply hover:bg-gray-100 py-2 px-2 rounded-full text-sm font-medium text-gray-800
}

.basic_input {
    @apply w-full px-8 py-3 border rounded-md font-medium focus:outline-none focus:border-gray-700
}

.basic_button {
    @apply w-full px-8 py-3 rounded-md text-center text-white text-sm font-medium transition-colors
}

@keyframes pulse {
    50% {
        opacity: .5;
    }
}

@keyframes messageFadeInOut {
    0% {
        opacity: 0;
    }
    2% {
        opacity: .5;
    }
    5% {
        opacity: 1;
    }
    95% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateY(-100px);
    }
}

.custom-animate-pulse {
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) 3;
}

.has_error {
    @apply border-red-500 transition-colors custom-animate-pulse
}

.message_container {
    animation: messageFadeInOut 4s ease-in-out forwards;
}

.message {
    animation: messageFadeInOut 4s ease-in-out forwards;
    &.error {
        @apply bg-red-500 text-white;
    }
    &.success {
        @apply bg-green-500 text-white;
    }
    &.info {
        @apply bg-blue-500 text-white;
    }
    &.warning {
        @apply bg-yellow-400 text-black;
    }
}

@tailwind utilities;