{% extends 'base.html' %} 

{% block title %}
Unauthorized 
{% endblock title %}

{% block content %}

<div class="container mx-auto h-[50vh]">
    <div class="w-full flex items-center justify-center flex-col h-full">
        <span class="text-4xl font-semibold">Unauthorized</span>
        <span class="text-2xl font-semibold mb-8">This page isn't available for you</span>
        <a href="{% url 'core:home' %}">
            <span class="text-2xl text-red-500">Go back home</span>
        </a>
    </div>
</div>

{% endblock content %}
