{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <title>{% block title %}{% endblock title %} | Chyonee BNB</title>
  </head>
  <body class="text-gray-800 mt-20">
    <header class="fixed top-0 px-5 container max-w-full flex items-center justify-between h-16 border-b shadow-md border-gray-300 bg-white">
      <div class="flex items-center space-x-7">
        <a class="flex items-center space-x-2" href="{% url 'core:home' %}">
          <img class="w-8" src="{% static 'img/logo.png' %}" />
          <span class="text-red-500 font-medium text-sm">Chyonee BNB</span>
        </a>
        {% block search-bar %}
          <form method="get" action="{% url 'rooms:search' %}">
            <input class="focus:outline-none transition-colors focus:border-2 focus:border-red-200 w-96 hover:shadow-lg hover:transition-shadow
            border border-gray-300 px-12 py-2 shadow-md rounded-md font-medium text-sm text-gray-700 placeholder:text-gray-500" name="city" placeholder="Search for city" />
          </form>
        {% endblock search-bar %}
      </div>
      {% include "partials/nav.html" %}
    </header>

      {% block content %} {% endblock %} 
    {% include "partials/footer.html" %}
  </body>
</html>
