{% extends 'base.html' %}

{% block title %}{{reservation.room.name}} | Reservation{% endblock title %}

{% block content %}
    <div class="container mx-auto">
        <div class="-mt-4 h-[50vh] w-full flex">
            <div class="bg-center bg-cover w-1/2 h-full rounded-lg mr-3" style="background-image:url({{reservation.room.first_photo}})"></div>
            <div class="grid grid-cols-2 gap-3 w-1/2 h-auto">
                {% for photo in reservation.room.get_next_four_photos %}
                    <div class="bg-center bg-cover rounded-lg" style="background-image:url({{photo.file.url}})"></div>
                {% endfor %}
            </div>
        </div>

        <div class="mt-5 flex flex-col">
            <div class="flex flex-col space-y-2">
                <span class="text-base font-semibold text-gray-800">Your reservation is {{reservation.get_status_display}}</span>
                <div class="space-x-2">
                    <span>{{reservation.check_in}}</span>
                    <span>-</span>
                    <span>{{reservation.check_out}}</span>
                </div>
            </div>
            <div class="my-5 w-full bg-gray-200 h-px"></div>
            <div class="flex flex-col space-y-5">
                <span class="text-lg font-bold text-gray-800">{{reservation.room.name}}</span>
                <div class="flex space-x-3 items-center">
                    {% include 'partials/user_avatar.html' with user=reservation.room.host %}
                    <div class="flex flex-col">
                        <span class="text-base text-gray-800">Contact your Chyonee BNB host</span>
                        <span class="text-sm text-red-500 font-semibold">Send a message</span>
                    </div>
                </div>
            </div>
            <div class="my-5 w-full bg-gray-200 h-px"></div>
            <div class="p-2 space-x-2">
                {% if reservation.status == 'pending' %}
                    {% if reservation.room.host == user %}
                        <a class="p-3 text-center rounded-lg bg-gray-900 text-white font-medium text-sm">Confirm reservation</a>
                    {% endif %}
                    {% if reservation.room.host == user or reservation.guest == user %}
                        <a href="{% url 'reservations:cancel' reservation.pk 'canceled' %}" 
                        class="p-3 text-center rounded-lg bg-red-500 text-white font-medium text-sm">Cancel reservation</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}