{% extends 'base.html' %}

{% block title %}{{reservation.room.name}} | Reservation{% endblock title %}

{% block content %}
    <div class="container mx-auto">
        <div class="-mt-4 h-[50vh] w-full flex">
            <div class="bg-center bg-cover w-1/2 h-full rounded-lg mr-3" style="background-image:url({{reservation.room.first_photo}})"></div>
            <div class="grid grid-cols-2 gap-3 w-1/2 h-auto">
                {% for photo in reservation.room.get_next_four_photos %}
                    <div class="bg-center bg-cover rounded-lg" style="background-image:url({{photo.file.url}})"></div>
                {% endfor %}
            </div>
        </div>

        <div class="mt-5 flex flex-col">
            <div class="flex flex-col space-y-2">
                <span class="text-base font-semibold text-gray-800">Your reservation is {{reservation.get_status_display}}</span>
                <div class="space-x-2">
                    <span>{{reservation.check_in}}</span>
                    <span>-</span>
                    <span>{{reservation.check_out}}</span>
                </div>
            </div>
            <div class="my-5 w-full bg-gray-200 h-px"></div>
            <div class="flex flex-col space-y-5">
                <span class="text-lg font-bold text-gray-800">{{reservation.room.name}}</span>
                <div class="flex space-x-3 items-center">
                    {% include 'partials/user_avatar.html' with user=reservation.room.host %}
                    <div class="flex flex-col">
                        <span class="text-base text-gray-800">Contact your Chyonee BNB host</span>
                        <span class="text-sm text-red-500 font-semibold">Send a message</span>
                    </div>
                </div>
            </div>
            <div class="my-5 w-full bg-gray-200 h-px"></div>
            {% if reservation.status == 'pending' %}
                <div class="p-2 space-x-2">
                    {% if reservation.room.host == user %}
                        <a href="{% url 'reservations:confirm' reservation.pk %}" 
                        class="p-3 text-center rounded-lg bg-gray-900 text-white font-medium text-sm">Confirm reservation</a>
                    {% endif %}
                    {% if reservation.room.host == user or reservation.guest == user %}
                        <a href="{% url 'reservations:cancel' reservation.pk %}" 
                        class="p-3 text-center rounded-lg bg-red-500 text-white font-medium text-sm">Cancel reservation</a>
                    {% endif %}
                </div>
            {% endif %}

            {% if reservation.status == 'confirmed' and reservation.is_finished %}
                <div class="flex flex-col items-center justify-center w-full">
                    <span class="text-sm font-semibold text-gray-800">Write review</span>
                    <form method="POST" class="w-1/3 flex flex-col items-center justify-center space-y-5" action="{% url 'reviews:create' reservation.room.pk reservation.pk %}">
                        {% csrf_token %} 
                    
                        <div class="flex w-full flex-col space-y-2">
                            <label for="review" class="font-semibold">Review</label>
                            <textarea id="review" name="review" class="basic_input {% if form.review.errors %}has_error{% endif %}" placeholder="Please add comment this room."></textarea>
                            {% include 'partials/input_error.html' with field=form.review %}
                        </div>

                        <div class="flex w-full flex-col space-y-2">
                            <label for="accuracy" class="font-semibold">Accuracy</label>
                            <input type="number" id="accuracy" class="basic_input {% if form.accuracy.errors %}has_error{% endif %}" name="accuracy" />
                            {% include 'partials/input_error.html' with field=form.accuracy %}
                        </div>

                        <div class="flex w-full flex-col space-y-2">
                            <label for="communication" class="font-semibold">Communication</label>
                            <input type="number" id="communication" class="basic_input {% if form.communication.errors %}has_error{% endif %}" name="communication" />
                            {% include 'partials/input_error.html' with field=form.communication %}
                        </div>

                        <div class="flex w-full flex-col space-y-2">
                            <label for="cleanliness" class="font-semibold">Cleanliness</label>
                            <input type="number" id="cleanliness" class="basic_input {% if form.cleanliness.errors %}has_error{% endif %}" name="cleanliness" />
                            {% include 'partials/input_error.html' with field=form.cleanliness %}
                        </div>

                        <div class="flex w-full flex-col space-y-2">
                            <label for="location" class="font-semibold">Location</label>
                            <input type="number" id="location" class="basic_input {% if form.location.errors %}has_error{% endif %}" name="location" />
                            {% include 'partials/input_error.html' with field=form.location %}
                        </div>

                        <div class="flex w-full flex-col space-y-2">
                            <label for="check_in" class="font-semibold">Check in</label>
                            <input type="number" id="check_in" class="basic_input {% if form.check_in.errors %}has_error{% endif %}" name="check_in" />
                            {% include 'partials/input_error.html' with field=form.check_in %}
                        </div>

                        <div class="flex w-full flex-col space-y-2">
                            <label for="value" class="font-semibold">Value</label>
                            <input type="number" id="value" class="basic_input {% if form.value.errors %}has_error{% endif %}" name="value" />
                            {% include 'partials/input_error.html' with field=form.value %}
                        </div>
                        
                        <button class="basic_button text-gray-800 border border-gray-800">Write</button>
                    </form>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}