{% extends 'base.html' %}

{% block title %}Change Password{% endblock title %}

{% block search-bar %}{% endblock search-bar %}

{% block content %}
<div class="xl:max-w-xl container mx-auto mt-40 flex items-center justify-center flex-col border border-gray-300 p-10 rounded-lg">
    <form method="POST" class="w-full flex flex-col items-center justify-center space-y-5">
        {% csrf_token %}
        
        <div class="flex w-full flex-col space-y-2">
            <label for="current_password" class="font-semibold">Current password</label>
            <input type="password" id="current_password" class="basic_input {% if form.current_password.errors %}has_error{% endif %}" name="current_password" />
            {% include 'partials/input_error.html' with field=form.current_password %}
        </div>

        <div class="flex w-full flex-col space-y-2">
            <label for="new_password" class="font-semibold">New password</label>
            <input type="password" id="new_password" class="basic_input {% if form.new_password.errors %}has_error{% endif %}" name="new_password" />
            {% include 'partials/input_error.html' with field=form.new_password %}
        </div>

        <div class="flex w-full flex-col space-y-2">
            <label for="new_confirm_password" class="font-semibold">New confirm password</label>
            <input type="password" id="new_confirm_password" class="basic_input {% if form.new_confirm_password.errors %}has_error{% endif %}" name="new_confirm_password" />
            {% include 'partials/input_error.html' with field=form.new_confirm_password %}
        </div>

        <button class="basic_button text-gray-800 border border-gray-800">Change Password</button>
    </form>
</div>
{% endblock content %}