{% extends 'base.html' %}

{% block title %}Change Password{% endblock title %}

{% block search-bar %}{% endblock search-bar %}

{% block content %}
<div class="xl:max-w-xl container mx-auto mt-40 flex items-center justify-center flex-col border border-gray-300 p-10 rounded-lg">
    <form method="POST" class="w-full flex flex-col items-center justify-center space-y-5">
        {% csrf_token %}
        
        <div class="flex w-full flex-col space-y-2">
            <label for="first_name" class="font-semibold">First Name</label>
            <input id="first_name" class="basic_input {% if form.first_name.errors %}has_error{% endif %}" placeholder="First Name" name="first_name" value="{{current_user.first_name}}" />
            {% include 'partials/input_error.html' with field=form.first_name %}
        </div>

        <div class="flex w-full flex-col space-y-2">
            <label for="last_name" class="font-semibold">Last Name</label>
            <input id="last_name" class="basic_input {% if form.last_name.errors %}has_error{% endif %}" placeholder="Last Name" name="last_name" value="{{current_user.last_name}}" />
            {% include 'partials/input_error.html' with field=form.last_name %}
        </div>

        <div class="flex w-full flex-col space-y-2">
            <label for="last_name" class="font-semibold">Last Name</label>
            <input id="last_name" class="basic_input {% if form.last_name.errors %}has_error{% endif %}" placeholder="Last Name" name="last_name" value="{{current_user.last_name}}" />
            {% include 'partials/input_error.html' with field=form.last_name %}
        </div>

        <button class="basic_button text-gray-800 border border-gray-800">Change Password</button>
    </form>
</div>
{% endblock content %}