{% extends 'base.html' %}

{% block title %}Sign up{% endblock title %}

{% block search-bar %}{% endblock search-bar %}

{% block content %}
<div class="xl:max-w-xl container mx-auto mt-40 flex items-center justify-center flex-col border border-gray-300 p-10">
    <div class="w-10/12 flex items-center mb-3">
        <span class="justify-self-start text-sm font-semibold">Welcome to Chyonee BNB</span>
    </div>
    {% include 'partials/social_login.html' %}    

    <form class="w-10/12 flex-col flex items-center" method="POST" action="{% url 'users:signup' %}">
        {% csrf_token %}

        <input type="text" placeholder="First Name" class="basic_input mb-2" name="first_name" /> 

        <input type="text" placeholder="Last_Name" class="basic_input mb-2" name="last_name" /> 

        <input type="email" placeholder="Email Address" class="basic_input mb-2" name="email" /> 
        {% include 'partials/input_error.html' with field=form.email %}

        <input type="password" placeholder="Password" class="basic_input mb-2" name="password" />
        {% include 'partials/input_error.html' with field=form.password %}
        
        <input type="password" placeholder="Confirm Password" class="basic_input mb-2" name="password1" />  
        {% include 'partials/input_error.html' with field=form.password1 %}
        
        <button class="w-full px-8 py-3 border border-red-500 bg-red-500 bg-gradient-to-r from-red-400
                rounded-md text-center text-white text-sm font-medium hover:bg-gradient-to-l hover:bg-red-300 transition-colors">
                Sign up
        </button>
    </form>

    <div class="w-10/12 text-gray-700 flex items-center justify-center space-x-10 -mb-5 mt-5">
        <span>Already have an account?</span>
        <a class="px-2 py-2 border text-gray-700 border-red-400 rounded-lg" href="{% url 'users:login' %}">Login</a>
    </div>
</div>
{% endblock content %}